{% load cms_tags staticfiles menu_tags sekizai_tags widget_tweaks %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Artículos{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="{% static "articulos.css" %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static "prueba.js" %}"></script>   
        <ul class="nav">
                {% show_menu 0 100 100 100 %}
            </ul>
        {% render_block "css" %}
    </head>
    <body>
        <!--{% cms_toolbar %}-->
        <div class="container">
            
           
            {% block content %}
            <form id="filtros" method="get">
                <div class="well">
                    <h2 id="title" >Paper</h2>
                    <hr id="separador">
                    <div class="row">
                        <div class="form-group col-sm-4 col-md-3">
                            <ul class="cabeza">Título contiene:</ul>
                            <ul>{% render_field filter.form.title class="form-control" style="width:71.5%;" %}</ul>
                        </div>
                        <div class="form-group col-sm-4 col-md-3">
                            <ul class="cabeza">Año:</ul>
                            <ul>{% render_field filter.form.year class="form-control" style="width:10%;"%}</ul>
                        </div>
                    </div>
                <hr id="separador">
                <button type="submit" class="btn btn-primary" style="margin-left:85%; margin-bottom:2%; cursor:pointer;">
                    <span class="glyphicon gylphicon-search"></span>Search
                </button>
                </div>
            </form>
            <div id="selector" class="form-group col-sm-4 col-md-3">
                            <ul class="cabeza">Mostrar:</ul>
                                <ul><select id="opcion" onchange="mostrar()">
                                  <option value="1">All</option>
                                  <option value="2">Journals</option>
                                  <option value="3">Conferences</option>
                                </select>
                            </ul>
                        </div>
            <table id="All" class="table table-bordered">
                <thead>
                    <tr> 
			            <th>Número</th>
			            <th style="height:55%;">Título</th>
			            <th>Año</th>
			            <th>DOI</th>
			            <th>Páginas</th>
			            <th class="lastColumn">Número de Autores</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Paper in qs %}
                    <tr>
                        <td>{{ Paper.num }}</td>
                        <td style="text-align:left;">{{ Paper.title }}</td>
                        <td>{{ Paper.year }}</td>
                        <td>{{ Paper.doi }}</td>
                        <td>{{ Paper.pages }}</td>
                        <td class="lastColumn">{{ Paper.nauthors }}</td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No results were found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="Journal" class="table table-bordered" style="display:none">
                <thead>
                    <tr> 
			            <th>Número</th>
			            <th>Título</th>
			            <th>Año</th>
			            <th>DOI</th>
			            <th>Páginas</th>
			            <th>Número de Autores</th>
			            <th class="lastColumn">Journal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in journal %}
                    <tr>
                        <td>{{ j.num.num }}</td>
                        <td style="text-align:left;">{{ j.num.title }}</td>
                        <td>{{ j.num.year }}</td>
                        <td>{{ j.num.doi }}</td>
                        <td>{{ j.num.pages }}</td>
                        <td>{{ j.num.nauthors }}</td>
                        <td class="lastColumn" style="text-align:left;">{{ j.journal.name }}</td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">No results were found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="Conference" class="table table-bordered" style="display:none">
                <thead>
                    <tr> 
			            <th>Numero</th>
			            <th>Título</th>
			            <th>Año</th>
			            <th>DOI</th>
			            <th>Páginas</th>
			            <th>Número de Autores</th>
			            <th>Conferencia</th>
			            <th style="height:10%;">Editor</th>
			            <th class="lastColumn">Lugar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in conference %}
                    <tr>
                        <td>{{ c.paper.num }}</td>
                        <td style="text-align:left;">{{ c.paper.title }}</td>
                        <td>{{ c.paper.year }}</td>
                        <td>{{ c.paper.doi }}</td>
                        <td>{{ c.paper.pages }}</td>
                        <td>{{ c.paper.nauthors }}</td>
                        <td style="text-align:left;">{{ c.conference.name }}</td>
                        <td style="text-align:left;">{{ c.editor }}</td>
                        <td class="lastColumn">{{ c.place }}</td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10">No results were found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
           <script>
                function mostrar()
                {
                    var display = document.getElementById("opcion").value;

                    if(display=="2"){
                        document.getElementById("All").style.display='none';
                        document.getElementById("Conference").style.display='none';
                        document.getElementById("Journal").style.display='block';
                    }
                    if(display=="3"){
                        document.getElementById("All").style.display='none';
                        document.getElementById("Journal").style.display='none';
                        document.getElementById("Conference").style.display='block';
                    }
                    if(display=="1"){
                        document.getElementById("Journal").style.display='none';
                        document.getElementById("Conference").style.display='none';
                        document.getElementById("All").style.display='block';
                    }
                }
            </script>
            {% endblock content %}
        </div>
	    <footer class="footer">
		    <div class="container>
	            <p class="text-muted">{% block footer %}Web del grupo de investigación de la UPV{% endblock footer %}</p>
                <a href="https://www.upv.es/"><img src="{% static "rsz_upv_logoblanco.png" %}" /></a>
            </div>
        </footer>
        {% render_block "js" %}
    </body>
</html>
